// .mw-sm-450 {
//     max-width: 350px;
// }
.login {
    text-align: left;
    margin: 0 auto;
    width: 75%;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
}

.input-form {
    width: 100%;
    background-color: #efefef;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 2%;
    box-sizing: border-box;
    outline: none;
    /* wyłączenie czarnej obwódki */
    margin-top: 2%;
}

.input-form {
    border: 2px solid #077262;
}

.btn-form {
    width: 100%;
    color: white;
    // padding: 2%;
    // margin-top: 3%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    // letter-spacing: 3%;
    outline: none;
}

.btn-form-green {
    background-color: #05a081;
}

.btn-form-green {
    background-color: #039060;
}

input::-webkit-input-placeholder {
    color: #999;
}